* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    min-width: 980px;
}

body {
    background-color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-weight: normal;
}

aside, section {
    box-sizing: border-box;
    float: left;
    height: 80%;
}

aside {
    background-color: #323232;
    width: 40%;
    padding: 50px;
    position: relative;
}

aside div#tbl {
    border: solid #eee 10px;
    padding: 30px;
    margin-top: -30px;
}

aside div#main {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 250px;
    margin-left: -125px;
}

aside a {
    background-color: #006BBA;
    color: #eee;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 45%;
    padding: 10px;
    border: solid #004E88 1px;
    margin: 0 auto;
}

aside a:first-of-type {
    margin-right: 5%;
}

aside a:last-of-type {
    margin-left: 5%;
}


aside h2 {
    background-color: #323232;
    color: #FFF;
    font-size: 2em;
    text-align: center;
    z-index: 1;
    position: relative;
    width: 85%;
    margin: 0 auto;
}

aside table {
    border-collapse: collapse;
    margin: 0 auto;
}

aside tr {
    height: 50px;
}

aside td:nth-of-type(1) {
    color: #FB2B25;
    text-align: right;
    padding-right: 20px;
    border-right: solid #FFF 3px;
}

aside td:nth-of-type(2) {
    color: #FFF;
    padding-left: 20px;
}

footer {
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 0px;
}

footer p#address span {
    background-image: url('address.png');
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #BB3628;
    padding-left: 32px;
}

footer p#telno span {
    background-image: url('telno.png');
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #BB3628;
    padding-left: 32px;
}

header {
    background-color: #BB3628;
    background-image: url('logo.png');
    background-position:17.5% center;
    background-size: 130px 130px;
    background-repeat: no-repeat;
    text-align: center;
    height: 20%;
    padding-left: 20%;
}

header h1 {
    color: #FFF;
    font-size: 4em;
}

nav {
    height: 100px;
    position: relative;
    margin-top: -42px;
}

nav a {
    background-color: #006BBA;
    color: #FFF;
    text-decoration: none;
    display: inline-block;    
    padding: 10px;
    margin-right: 2px;
}

a.active {
    background-color: #FFF;
    color: #333;
}

section {
    width: 60%;
}

section img {
    display: block;
    width: 80%;
    height: 350px;
    border: solid #333 1px;
    margin: -25px auto 45px;
}

.active {
    background-color: #FFF;
    color: #000;
}

.clearer {
    display: block;
    clear: both;
}