aside #tbl {
    border: none !important;
}

aside img {
    width: 80px;
    height: 70px;
}

aside td {
    color: #FB2B25 !important;
    border: none !important;
}

section h1 {
    font-size: 2.5em;
    text-align: center;
}

section div {
    font-weight: bold;
    width: 80%;
    margin: 50px auto 0;
}

section div p {
    font-size: 1.5em;
    float: left;
}

section div p:first-of-type {
    color: #AE1D1A;
    width: 40%;
}

section div p:last-of-type {
    width: 60%;
}